/* Général */
body {
    background-color: #121212; /* Noir éclatant */
    color: #ffffff; /* Texte blanc */
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Permet de garder la page étendue sur toute la hauteur */
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c; /* Noir un peu plus clair */
}

#logo {
    font-size: 1.5em;
    cursor: pointer;
}

/* Icône hamburger (en haut à droite) */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
}

/* Style de la sidebar (menu déroulant) */
.sidebar {
    position: fixed;
    bottom: -100%; /* Cachée par défaut en bas */
    right: 0;
    width: 250px;
    height: 200px;
    background-color: #1c1c1c;
    color: white;
    padding-top: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateY(-100%); /* Apparait en bas à droite */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar ul li a:hover {
    background-color: #444;
}

/* Menu principal */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.menu-item {
    background-color: #222;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #444;
}

/* Pied de page */
footer {
    padding: 20px;
    background-color: #1c1c1c;
    margin-top: auto; /* Force le footer à aller en bas */
}

.contact-info {
    margin-bottom: 30px; /* Espace entre les infos de contact et le lien LinkedIn */
}

footer a {
    color: #ADD8E6;  /* Bleu clair */
}

footer a:hover {
    color: #87CEFA;  /* Bleu plus clair au survol */
}

/* Position du LinkedIn en bas à droite */
#linkedin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    color: #ADD8E6;
    text-decoration: none;
}

#linkedin:hover {
    color: #87CEFA;
}

/* Mise en page responsive */
@media screen and (max-width: 768px) {
    .hamburger {
        font-size: 40px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    .menu-item {
        padding: 10px 20px;
        font-size: 1em;
    }

    .sidebar {
        width: 200px;
        height: 150px;
    }
}
